# Q1. What is a Database? Differentiate Between SQL and NoSQL Databases.

## **What is a Database?**  
A **database** is an organized collection of data that allows for efficient storage, retrieval, and management of information. Databases are used in applications to store structured or unstructured data and provide functionalities like querying, updating, and deleting records.

Databases can be broadly categorized into two types:
1. **SQL Databases (Relational)**
2. **NoSQL Databases (Non-Relational)**

---

## **Differences Between SQL and NoSQL Databases**

| Feature         | SQL Databases (Relational)               | NoSQL Databases (Non-Relational)            |
|---------------|----------------------------------|----------------------------------|
| **Structure**  | Uses structured, tabular data with predefined schemas. | Uses flexible, schema-less data models. |
| **Data Model** | Tables with rows and columns.  | Key-Value, Document, Column-Family, or Graph models. |
| **Schema**     | Strict schema; data must follow a predefined structure. | Dynamic schema; allows flexible data storage. |
| **Scalability** | Vertically scalable (by increasing hardware power). | Horizontally scalable (by adding more servers). |
| **Query Language** | Uses SQL (Structured Query Language). | Uses various query methods depending on the database (e.g., JSON-based queries in MongoDB). |
| **ACID Compliance** | Fully ACID-compliant (Atomicity, Consistency, Isolation, Durability). | May sacrifice ACID for better performance (uses BASE - Basically Available, Soft state, Eventually consistent). |
| **Best For**   | Complex queries, transactions, and structured data. | Big Data, real-time applications, and unstructured or semi-structured data. |
| **Examples**   | MySQL, PostgreSQL, Oracle, SQL Server. | MongoDB, Cassandra, Redis, Firebase, CouchDB. |

---

# Q2. What is DDL? Explain CREATE, DROP, ALTER, and TRUNCATE with Examples.

## **What is DDL?**  
DDL (Data Definition Language) is a subset of SQL commands used to define, modify, and manage database structures such as tables, indexes, and schemas. DDL commands do not manipulate the data inside tables; instead, they define and modify database objects.

### **Key DDL Commands:**
1. **`CREATE`** - Creates new tables, databases, or other objects.
2. **`DROP`** - Deletes existing tables, databases, or objects permanently.
3. **`ALTER`** - Modifies the structure of an existing table.
4. **`TRUNCATE`** - Removes all data from a table but keeps the structure.

---
# Why CREATE, DROP, ALTER, and TRUNCATE are Used

## **1. CREATE**  
The `CREATE` statement is used to define new database objects such as tables, databases, views, or indexes. It is essential for structuring and organizing data storage.

### **Use Case:**  
When setting up a new database, you use `CREATE` to define tables with specific columns and data types.

---

## **2. DROP**  
The `DROP` statement is used to delete an existing database object, such as a table or database, permanently. It removes both the structure and the data.

### **Use Case:**  
When a table or database is no longer needed, `DROP` is used to free up storage and remove unnecessary objects.

---

## **3. ALTER**  
The `ALTER` statement is used to modify an existing table by adding, deleting, or changing columns. It is useful for updating database structures without losing existing data.

### **Use Case:**  
If a new column needs to be added to a table or an existing column's data type needs to be changed, `ALTER` is used to make the modification.

---

## **4. TRUNCATE**  
The `TRUNCATE` statement removes all rows from a table while keeping the table structure intact. It is faster than `DELETE` and is used when you want to clear a table without deleting it.

### **Use Case:**  
When you need to remove all records from a table but want to keep its structure for future use, `TRUNCATE` is the best option.

---

### **Summary**
- **`CREATE`** is used to define new database objects.
- **`DROP`** is used to permanently delete database objects.
- **`ALTER`** is used to modify existing database structures.
- **`TRUNCATE`** is used to quickly remove all records from a table without deleting its structure.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an Example.

## **What is DML?**  
DML (**Data Manipulation Language**) is a subset of SQL used to interact with and manipulate data stored in a database. Unlike **DDL (Data Definition Language),** which defines database structures, **DML** focuses on modifying records within tables.

### **Key DML Commands:**
1. **`INSERT`** - Adds new records to a table.
2. **`UPDATE`** - Modifies existing records in a table.
3. **`DELETE`** - Removes specific records from a table.

---

## **1. `INSERT` Statement**
The `INSERT` command is used to add new rows (records) to a table.

### **Use Case:**  
If you need to store customer details in a database, you use `INSERT` to add a new customerâ€™s information.

---

## **2. `UPDATE` Statement**
The `UPDATE` command modifies existing records in a table based on a specified condition.

### **Use Case:**  
If a customer updates their phone number, `UPDATE` is used to change the old phone number in the database.

---

## **3. `DELETE` Statement**
The `DELETE` command removes specific rows from a table based on a condition.

### **Use Case:**  
If a customer account is closed, `DELETE` is used to remove the customer's record from the database.

---

## **Key Differences Between INSERT, UPDATE, and DELETE**
| Command  | Purpose | Affects Existing Data? | Can Be Rolled Back? |
|----------|---------|------------------------|----------------------|
| **INSERT** | Adds new records | No | Yes (with `COMMIT` & `ROLLBACK`) |
| **UPDATE** | Modifies existing records | Yes | Yes |
| **DELETE** | Removes specific records | Yes | Yes |

### **Summary**
- **`INSERT`** is used to add new data.
- **`UPDATE`** is used to modify existing data.
- **`DELETE`** is used to remove specific data.

These DML commands allow users to interact with and modify the database as needed.

# Q4. What is DQL? Explain SELECT with an Example.

## **What is DQL?**  
DQL (**Data Query Language**) is a subset of SQL used to retrieve data from a database. The primary command in DQL is `SELECT`, which allows users to fetch records from one or more tables.

### **Key DQL Command:**
- **`SELECT`** - Used to retrieve data from a table based on specified conditions.

---

## **1. `SELECT` Statement**
The `SELECT` command is used to fetch data from a database. It can be used to retrieve specific columns, filter data using conditions, and even aggregate results.

### **Use Case:**  
If a business wants to retrieve all customer names and emails from a database, `SELECT` is used to extract this information.

---

## **Types of SELECT Queries**
1. **Retrieve All Records:**
   - Used when you want to fetch all rows from a table.

2. **Retrieve Specific Columns:**
   - Used when you need only selected columns instead of all.

3. **Using WHERE Clause:**
   - Filters records based on specific conditions.

4. **Using ORDER BY Clause:**
   - Sorts records in ascending or descending order.

5. **Using Aggregate Functions:**
   - Performs calculations such as COUNT, SUM, AVG, MAX, MIN.

---

## **Key Features of SELECT**
| Feature | Description |
|---------|------------|
| `SELECT *` | Retrieves all columns from a table. |
| `SELECT column1, column2` | Retrieves specific columns. |
| `WHERE` | Filters records based on conditions. |
| `ORDER BY` | Sorts results in ascending or descending order. |
| `GROUP BY` | Groups records for aggregation. |

### **Summary**
- **`SELECT`** is the most commonly used SQL command to retrieve data.
- It allows filtering, sorting, and aggregation of results.
- DQL is crucial for data analysis and reporting in databases.

# Q5. Explain Primary Key and Foreign Key

## **1. Primary Key**
A **Primary Key** is a column (or a set of columns) in a database table that uniquely identifies each record. It ensures that no two rows have the same value for the primary key column(s) and prevents `NULL` values.

### **Key Features of Primary Key:**
- Uniquely identifies each row in a table.
- Cannot contain `NULL` values.
- Ensures data integrity and prevents duplicate entries.

### **Use Case:**  
A `Students` table needs a **unique identifier** for each student. The `student_id` column can be set as the **Primary Key** to ensure uniqueness.

---

## **2. Foreign Key**
A **Foreign Key** is a column (or a set of columns) in one table that establishes a relationship with the **Primary Key** of another table. It enforces referential integrity by ensuring that the value in the foreign key column matches an existing value in the referenced primary key column.

### **Key Features of Foreign Key:**
- Links two tables together.
- Ensures referential integrity (prevents invalid data entries).
- Can contain duplicate values and `NULL` (if not restricted).

### **Use Case:**  
A `Orders` table needs to reference customers from the `Customers` table. The `customer_id` in the `Orders` table can be set as a **Foreign Key** linking to the `customer_id` (Primary Key) in the `Customers` table.

---

# Q6. Python Code to Connect MySQL to Python and Explanation of `cursor()` and `execute()`

## **Connecting MySQL to Python**
To connect MySQL with Python, we use the **`mysql-connector-python`** library. This allows Python to communicate with MySQL databases.

### **Installing the Required Library**
Before running the code, install the required package using:
```bash
pip install mysql-connector-python

import mysql.connector

# Establish connection to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="yourpassword",
    database="testdb"
)

# Create a cursor object
cursor = conn.cursor()

# Execute an SQL query
cursor.execute("SELECT DATABASE();")

# Fetch and print the result
database_name = cursor.fetchone()
print("Connected to Database:", database_name[0])

# Close the cursor and connection
cursor.close()
conn.close()

## Explanation of cursor() and execute() Methods
##1. cursor() Method
The cursor() method creates a cursor object that allows Python to interact with the database.
It acts as a control structure to navigate and execute SQL commands.
##2. execute() Method
The execute() method is used to run SQL queries through the cursor object.
It can be used for various queries, such as SELECT, INSERT, UPDATE, DELETE, and CREATE TABLE.

# Q7. Order of Execution of SQL Clauses in an SQL Query

When executing an SQL query, the clauses are processed in a specific logical order, which may differ from the way they are written in a query.

## **Order of Execution of SQL Clauses:**

| Execution Order | SQL Clause | Description |
|---------------|-----------|-------------|
| **1** | `FROM` | Specifies the source table(s) for the query. |
| **2** | `WHERE` | Filters records based on specified conditions. |
| **3** | `GROUP BY` | Groups data based on one or more columns. |
| **4** | `HAVING` | Filters grouped records (used after `GROUP BY`). |
| **5** | `SELECT` | Selects specific columns or expressions to display. |
| **6** | `DISTINCT` | Removes duplicate records from the result set. |
| **7** | `ORDER BY` | Sorts the result set in ascending (`ASC`) or descending (`DESC`) order. |
| **8** | `LIMIT/OFFSET` | Limits the number of rows returned by the query. |

---