# Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

## Answer:
## The `sorted()` function with a lambda function can be used to sort the list of tuples based on integer values.

# Given list

In [ ]:

tuple_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sorting using lambda

In [ ]:
sorted_tuples = sorted(tuple_list, key=lambda x: x[1], reverse=True)
sorted_tuples

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

## Answer:
## The `map()` function with a lambda function can be used to compute squares of all numbers in the list.

# Given list

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Squaring using map and lambda

In [ ]:
squared_numbers = list(map(lambda x: x ** 2, num_list))
squared_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.

## Answer:
## The `map()` function with a lambda function can be used to convert integers to strings.

## Given list

In [ ]:
int_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting to tuple of strings

In [ ]:
string_tuple = tuple(map(lambda x: str(x), int_list))
string_tuple

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

## Answer:
## The `reduce()` function from `functools` module can be used to compute the product.

In [ ]:
from functools import reduce

# Given range

In [ ]:
num_range = list(range(1, 26))

# Computing product

In [ ]:
product_result = reduce(lambda x, y: x * y, num_range)
product_result

15511210043330985984000000

# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

## Answer:
## The `filter()` function with a lambda function can be used to filter numbers divisible by 2 and 3.

# Given list

In [ ]:
num_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Filtering numbers

In [ ]:
divisible_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, num_list))
divisible_numbers

[6, 60, 90, 120]

# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

## Answer:
## The `filter()` function with a lambda function can be used to find palindromes in the list.
##Given List

In [ ]:
string_list = ['python', 'php', 'aba', 'radar', 'level']

# Filtering palindromes

In [ ]:
palindromes = list(filter(lambda x: x == x[::-1], string_list))
palindromes

['php', 'aba', 'radar', 'level']