# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.  

## ans:

In [2]:
import pandas as pd

# Creating the series
data = pd.Series([4, 8, 15, 16, 23, 42])

# Printing the series
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable. Print it.  

## ans:

In [3]:
import pandas as pd

# Creating a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list into a Pandas Series
series = pd.Series(my_list)

# Printing the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:  
## Name, Age, Gender

In [4]:
import pandas as pd

# Creating the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Clarie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.  

## **DataFrame in Pandas:**  
A **DataFrame** is a 2-dimensional, tabular data structure in Pandas, similar to a table in SQL or an Excel spreadsheet. It consists of multiple rows and columns, where each column can contain different data types (integer, float, string, etc.).  

## **Difference Between DataFrame and Series:**  
- A **Series** is a one-dimensional array-like structure with an index, while a **DataFrame** is a two-dimensional table with rows and columns.  
- A **Series** represents a single column of data, whereas a **DataFrame** consists of multiple Series combined.  

## **Example:**

In [5]:
import pandas as pd

# Creating a Pandas Series (1D)
series = pd.Series([10, 20, 30, 40])
print("Pandas Series:")
print(series)

# Creating a Pandas DataFrame (2D)
data = {
    'Name': ['Alice', 'Bob', 'Clarie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

print("\nPandas DataFrame:")
print(df)

Pandas Series:
0    10
1    20
2    30
3    40
dtype: int64

Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?  
#   Can you give an example of when you might use one of these functions?  

## **Common Pandas DataFrame Functions:**  
1. **df.head(n)** – Returns the first `n` rows of the DataFrame.  
2. **df.tail(n)** – Returns the last `n` rows of the DataFrame.  
3. **df.info()** – Displays information about the DataFrame (data types, non-null counts, etc.).  
4. **df.describe()** – Provides summary statistics of numerical columns.  
5. **df.drop(columns=['column_name'])** – Removes a specific column from the DataFrame.  
6. **df.loc[row_index, 'column_name']** – Accesses specific rows and columns by label.  
7. **df.iloc[row_index, column_index]** – Accesses specific rows and columns by position.  
8. **df['column_name'].mean()** – Calculates the mean of a numeric column.  
9. **df['column_name'].fillna(value)** – Fills missing values in a column.  
10. **df.sort_values(by='column_name', ascending=True)** – Sorts the DataFrame based on a specific column.  

## **Example:**  
Suppose we have a dataset of students' exam scores, and we want to find the average score.

In [6]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Clarie', 'David'],
    'Score': [85, 92, 78, 88]
}

df = pd.DataFrame(data)

# Calculating the average score
average_score = df['Score'].mean()

print("Average Score:", average_score)

Average Score: 85.75

# Q6.Which of the following is mutable in nature: Series, DataFrame, or Panel?  

## **Answer:**  
Both **Pandas Series, DataFrame, and Panel are mutable** in nature.  

### **Explanation:**  
- **Series**: A Pandas Series is mutable, meaning we can change its elements after creation. However, the **labels (index) are immutable**, meaning once set, they cannot be changed.  
- **DataFrame**: A Pandas DataFrame is fully mutable, meaning both the **data and structure (columns, rows) can be modified**.  
- **Panel**: In older versions of Pandas, **Panel** (used for 3D data) was also mutable, but it has been deprecated since Pandas 1.0.

# Q7. Create a DataFrame using multiple Series. Explain with an example.  

## **Explanation:**  
In Pandas, we can create a **DataFrame** using multiple **Series** by combining them as columns. Each **Series** will represent a column in the **DataFrame**, and the index of the Series will be aligned to form the DataFrame's index.

### **Example:**

In [7]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Clarie'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using multiple Series
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
})

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female